#XaView
#Sun Jun 14 11:56:09 GMT+03:00 2026
SignMode=testsign
NdkEnabled=false
AppName=IDAView (Mobile)
AutoRunPackage=
CustomJavacArgs=-proc\:none
AutoRunName=\u041D\u0435\u0442
NdkAbis=arm64-v8a
MinSdk=21
PackageName=com.idaviewmobile.xaview
CustomOutDir=
VersionName=1.0
VersionCode=1
TargetSdk=29
